<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DCSLibrary.Properties.Settings.de90ConnectionString"
            connectionString="Data Source=XPLICIT;Initial Catalog=de90;Persist Security Info=True;User ID=Remote;Password=4444"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>