<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TestZone.Properties.Settings.de90ConnectionString"
            connectionString="server=XPLICIT;user id=Remote;password=4444;persistsecurityinfo=True;database=de90"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>